body {
  margin: 0;
  background: #0d1116;
  font-family: "Mali", cursive, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}